<md-content flex class="stream-content" layout="row" layout-align="space-around start" layout-wrap
  data-ng-init="initStream()"
  infinite-scroll="loadNextPage()"
  infinite-scroll-immediate-check="false"
  infinite-scroll-container="'.stream-content'">

  <track-card-small class="track-card" ng-repeat="(key, streamobj) in stream"
    track="streamobj.track"
    uuid="streamobj.uuid"
    repost-user="streamobj.user"
    type="streamobj.type"
    context="context"
    flex="90"
    simpl-style="true">
  </track-card-small>
  <!--<track-card class="track-card" ng-repeat="(key, streamobj) in stream"
    track="streamobj.track"
    uuid="streamobj.uuid"
    repost-user="streamobj.user"
    type="streamobj.type"
    context="context">
  </track-card>-->

</md-content>
