/**
 * Body
 */

body {
  background: #303030;
}

md-content.md-default-theme.stream-content,
md-content.md-default-theme.likes-content,
md-content.md-default-theme.dark-content {
  background: #303030;
}

.loader {
  padding: 10px 0;
}

/*********************
 *  Typography
 ********************/
h1,h2,h3,h4,h5,h6,p,span,a{
  color: rgba(255,255,255,0.87);
}

/******************
 * App bar
 *****************/
.app-bar {
  background: rgba(0,0,0,0.40);
  height: 40px;
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.app-header {
  padding: 8px 0 0 0;
}

.app-title {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  margin:0;
}
.orange {
  color: #EF6C00 ;
}

/******************
 * SideNav
 *****************/
.sidebar-wrapper {
  width: 255px;
}

md-sidenav.md-locked-open.md-sidenav-main, md-sidenav.md-locked-open.md-closed.md-sidenav-main {
  position: absolute;
}

md-sidenav.md-sidenav-main {
  background: #212121;
  width: 255px;
  min-width: 255px;
  max-width: 255px;
  bottom: 70px;
}

/******************
 * Profile
 *****************/

.user-me{
  padding: 15px 20px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #303030;
}

.user-me > span {
  margin-left: 10px;
}

/******************
 * Menu
 *****************/
 md-content.menu-content {
  background: #212121;
 }

.menu-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  padding: 0px 24px;
  margin-bottom: 5px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.menu li {
  list-style-position: inside;
}

.md-button.menu-button {
  display: block;
  padding: 0 16px 0 40px;
  text-transform: none;
  text-rendering: geometricPrecision;
  font-weight: 500;
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.md-button.menu-button.active {
    background-color: rgba(158,158,158,0.2);
}

ng-md-icon {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

/******************
 * Player
 *****************/

player {
  height: 70px;
  background: #212121;
  z-index: 65;
}

.player-song-info {
  padding-left: 10px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-song-info .track-artist{
  color: rgba(255,255,255,0.6);
}

.player-slider {
  padding-left: 10px;
}
.player-slider md-slider {
  padding: 0 15px;
}

.player-controls {
  padding: 0 10px;
}
.player-controls .md-button {
  margin: 0;
  min-width: 0;
}

.volume-slider {
  width: 100px;
  padding-left: 10px;
}

/*****************
 * Stream
 ****************/


/******************
 * Track card
 *****************/

.track-card.ng-move,
.track-card.ng-enter,
.track-card.ng-leave {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
          animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}
@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes zoomOut {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.track-card.ng-leave,
.track-card.ng-move.ng-move-active,
.track-card.ng-enter.ng-enter-active  {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
.track-card.ng-leave.ng-leave-active,
.track-card.ng-move,
.track-card.ng-enter {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut;
}


.track-card{
  position: relative;
}

.track-image{
  background-image: url('https://i1.sndcdn.com/artworks-000121103523-m82qsu-t300x300.jpg" alt="image" class="track-artwork');
  background-size: contain;
  width: 270px;
  height:270px;
}

.track-image > .track-artist,
.track-image > .track-title,
.track-image > .track-duration {
  background: rgba(0,0,0,0.87);
  padding: 2px 8px;
  margin-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 234px;
}

.track-image > .track-artist{
  margin-bottom: 2px;
  -webkit-line-clamp: 1;
}

.track-image > .track-title{
  margin-bottom: 2px;
  -webkit-line-clamp: 2;
}

.track-image > .track-duration {
  margin-bottom: 7px;
}

.track-card-content {
  padding-left: 5px;
}

.md-button.track-icon-btn {
  height: 36px;
  width: 36px;
  line-height: 36px;
}

.md-button.md-fab.track-play{
  background-color: #EF6C00;
  bottom: 34px;
  right: 10px;
}

.md-button.md-fab.track-play:not([disabled]):hover{
  background-color: #D46000;
}

/*****************
 * Queue
 ****************/

md-tab-content > div {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.table-title{
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 0;
}

.queue-table {
  width: 100%;
  border-spacing: 0;
}

.current-track-table {
  min-height: 147px;
}

.queue-table thead {
  text-align: left;
  text-transform: uppercase;
}

.queue-table thead th {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
}

.queue-table th,
.queue-table td{
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
}

.queue-table td:nth-child(-n+2){
  width: 20px;
}

.queue-table td:nth-child(3){
  width: 36px;
}

.queue-table td:nth-child(5){
  width: 150px;
}

.queue-table td:last-child {
  text-align: right;
  width: 70px;
}

.queue-duration{
  float: right;
  margin-right: 10px;
}

.queue-table tbody tr:hover{
  background-color: rgba(255,255,255,0.2);
}


/*****************
 * User page
 ****************/

 .user-page {
  overflow: scroll;
}

.user-header {
  width: 100%;
  height: 250px;
  background-image: url(https://i1.sndcdn.com/visuals-000009969027-gmsebQ-original.jpg);
  background-size: cover;
  border-bottom: 1px solid #303030;
}

.user-header .user-image {
  width: 200px;
  height: 200px;
  margin: 25px 25px;
}

.user-header .user-profile-info {
  margin-top: 25px;
}

.user-header .user-profile-info h1,
.user-header .user-profile-info h4{
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.87);
  display: inline-block;
  margin: 0;
}

.user-username {
  font-size: 36px;
  font-weight: 500;
}

.user-location {
  font-weight: 400;
}

.user-info-container {
  height: 150px;
}

.user-spotlight,
.user-stream {
  flex-wrap: wrap;
}

.user-activity-headline {
  width: 100%;
  margin: 10px 0 0 0;
  font-weight: 400;
}

.scroll-container {
  overflow: scroll;
}

/***********************
 *  Playlist dialog
 **********************/

.playlist-item {
  margin: 5px 0;
}

.playlist-item img {
  width: 75px;
  height: 75px;
}

.playlist-info{
  width: 250px;
  padding: 10px;
}
.playlist-info > p{
  margin: 0;
  font-weight: 500;
}
