<div class="scroll-container" flex layout="column">
  <div class="user-header" layout="row" style="background-image:url({{userVisual}})" ng-init="init()">
    <img class="user-image" alt="user image" src="{{user.avatar_url}}">
    <div class="user-profile-info">
      <h1 class="user-username">
        {{user.username}}
      </h1>
      <br>
      <h4 class="user-location">
        {{user.country}}
      </h4>
    </div>
  </div>
  <div class="user-content" flex layout="row">
    <div class="user-info-container" layout="column" flex="20">
      <md-card flex>
      </md-card>
      <md-card flex>
      </md-card>
    </div>
    <div class="user-activity" flex layout="column">
      <div class="user-spotlight" flex layout="row" layout-align="space-around start">
        <h2 class="user-activity-headline">Spotlight</h2>
        <track-card class="track-card" ng-repeat="(key, item) in spotlightItems"
          track="item.track"
          uuid="item.uuid"
          type="item.type"
          context="context"
          >
        </track-card>
      </div>
      <div class="user-stream" flex layout="row" layout-align="space-around start">
        <h2 class="user-activity-headline">Stream</h2>
        <track-card class="track-card" ng-repeat="(key, item) in allItems"
          track="item.track"
          uuid="item.uuid"
          repostUser="item.user"
          type="item.type"
          context="context"
          >
        </track-card>
      </div>
    </div>
  </div>
</div>
