<md-tabs md-stretch-tabs="always" flex layout-fill md-border-bottom="" ng-init="initQueue()">
  <md-tab label="Queue">
    <md-content flex layout-fill layout="column" class="md-padding dark-content">
      <div layout="column" class="current-track-table">
        <h3 class="table-title">Current Track</h3>
        <table class="queue-table">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th></th>
              <th>Title</th>
              <th>Artist</th>
              <th>
                <ng-md-icon class="queue-duration" icon="av_timer" size="24" style="fill:#AAAAAA"></ng-md-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="currentTrack" ng-dblClick="playTrack(currentTrack)">
              <td>1</td>
              <td>+</td>
              <td>
                <md-button class="md-icon-button track-icon-btn" aria-label="{{likedConfig[queueLikes[currentTrack.id]].tooltip}}" ng-click="toggleTrackLiked()">
                  <md-tooltip>
                    {{likedConfig[queueLikes[currentTrack.id]].tooltip}}
                  </md-tooltip>
                  <ng-md-icon class="menu-icon" icon="favorite" size="24" style="fill:{{likedConfig[queueLikes[currentTrack.id]].color}}"></ng-md-icon>
                </md-button>
              </td>
              <td>{{currentTrack.title}}</td>
              <td>{{currentTrack.artist}}</td>
              <td>{{currentTrack.duration | durationToHuman}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div layout="column">
        <h3 class="table-title">Next Tracks</h3>
        <table class="queue-table">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th></th>
              <th>Title</th>
              <th>Artist</th>
              <th>
                <ng-md-icon class="queue-duration" icon="av_timer" size="24" style="fill:#AAAAAA"></ng-md-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, queueItem) in queueItems" ng-dblClick="playTrack(queueItem)">
              <td>{{key + 1}}</td>
              <td>+</td>
              <td>
                <md-button class="md-icon-button track-icon-btn" aria-label="{{likedConfig[queueLikes[queueItem.id]].tooltip}}" ng-click="toggleTrackLiked(track.id)">
                  <md-tooltip>
                    {{likedConfig[queueLikes[queueItem.id]].tooltip}}
                  </md-tooltip>
                  <ng-md-icon class="menu-icon" icon="favorite" size="24" style="fill:{{likedConfig[queueLikes[queueItem.id]].color}}"></ng-md-icon>
                </md-button>
              </td>
              <td>{{queueItem.title}}</td>
              <td>{{queueItem.artist}}</td>
              <td>{{queueItem.duration | durationToHuman}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-content>
  </md-tab>
  <md-tab label="History">
    <md-content class="md-padding dark-content">
        <table class="queue-table">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th></th>
              <th>Title</th>
              <th>Artist</th>
              <th>
                <ng-md-icon class="queue-duration" icon="av_timer" size="24" style="fill:#AAAAAA"></ng-md-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, historyItem) in historyItems">
              <td>{{key + 1}}</td>
              <td>+</td>
              <td>
                <md-button class="md-icon-button track-icon-btn" aria-label="{{likedConfig[queueLikes[queueItem.id]].tooltip}}" ng-click="toggleTrackLiked(track.id)">
                  <md-tooltip>
                    {{likedConfig[queueLikes[queueItem.id]].tooltip}}
                  </md-tooltip>
                  <ng-md-icon class="menu-icon" icon="favorite" size="24" style="fill:{{likedConfig[queueLikes[queueItem.id]].color}}"></ng-md-icon>
                </md-button>
              </td>
              <td>{{historyItem.title}}</td>
              <td>{{historyItem.user.username}}</td>
              <td>{{historyItem.duration | durationToHuman}}</td>
            </tr>
          </tbody>
        </table>
    </md-content>
  </md-tab>
</md-tabs>
